apiVersion: apps/v1
kind: Deployment
metadata:
  name: sm4-auth
spec:
  replicas: 2
  selector:
    matchLabels:
      app: sm4-auth
  template:
    metadata:
      labels:
        app: sm4-auth
    spec:
      containers:
        - name: sm4-auth
          image: rtrzebinski/sm4-auth:latest
          imagePullPolicy: Always
          env:
            - name: DB_DSN
              value: "postgres://postgres:postgres@sm4-db:5432/postgres?sslmode=disable"
            - name: KC_URL
              value: "http://sm-keycloak:8180"
            - name: KC_REALM
              value: "realm-live"
            - name: KC_CLIENT_ID
              value: "client-id-live"
            - name: KC_CLIENT_SECRET
              value: "client-secret-live"
          readinessProbe:
            httpGet:
              path: /readyz
              port: 9092
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 9092
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            limits:
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 16Mi
---
apiVersion: v1
kind: Service
metadata:
  name: sm4-auth
spec:
  selector:
    app: sm4-auth
  ports:
    - protocol: TCP
      port: 50051
      targetPort: 50051
